<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.learn.nishant.com.learn.nishant.Student"
		name="student1" p:stId="123" p:stName="Nishant" p:stAddress="HYD" />
 
	</beans>
